{% load static %}
{% load my_tags %}
<html lang="en-JP">
<link href="{% static 'main/test.css' %}" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script>
    // Define a global variable for the static file URL
    window.staticFileUrl = "{% static 'main/WhatsApp画像 2024-02-14 13.27.37_9343389c.jpg' %}";
    window.staticFileUrl1 = "{% static 'main/openart-12ba3e00450f41cc899c83c6a484c79f_raw.jpg' %}";
    window.staticFileUrl2 = "{% static 'main/openart-42849cd925af4fdba5bc73bf93394019_raw.jpg' %}";
    window.staticFileUrl3 = "{% static 'main/openart-5eda95374c2140e3a6dad00334c41fef_raw.jpg' %}";
    window.staticFileUrl4 = "{% static 'main/openart-6cf0de3a89b84f87983d9234bf1fa9d5_raw.jpg' %}";
  </script>
    <script>
        window.correctAudioUrls = [
            "{% static 'main/soundfiles/Record (online-voice-recorder.com) (17).mp3' %}",
            "{% static 'main/soundfiles/Record (online-voice-recorder.com) (18).mp3' %}",
            "{% static 'main/soundfiles/Record (online-voice-recorder.com) (19).mp3' %}",
            "{% static 'main/soundfiles/Record (online-voice-recorder.com) (20).mp3' %}",
            "{% static 'main/soundfiles/Record (online-voice-recorder.com) (21).mp3' %}",
            "{% static 'main/soundfiles/Record (online-voice-recorder.com) (22).mp3' %}",
            "{% static 'main/soundfiles/Record (online-voice-recorder.com) (23).mp3' %}",
            "{% static 'main/soundfiles/Record (online-voice-recorder.com) (24).mp3' %}",
            "{% static 'main/soundfiles/Record (online-voice-recorder.com) (25).mp3' %}",
            "{% static 'main/soundfiles/Record (online-voice-recorder.com) (25).mp3' %}"
        ];
        window.wrongAudioUrls = [
            "{% static 'main/soundfiles/sound13.mp3' %}",
            "{% static 'main/soundfiles/Record (online-voice-recorder.com) (27).mp3' %}",
            "{% static 'main/soundfiles/Record (online-voice-recorder.com) (28).mp3' %}",
            "{% static 'main/soundfiles/Record (online-voice-recorder.com) (29).mp3' %}"
        ];
    </script>

<body style="background-image: url('{% static 'main/WhatsApp画像 2024-02-14 13.27.37_9343389c.jpg' %}'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat; margin: 0; padding: 0;">
<div class="container-fluid" style="padding: 0;">
    <div id="tests" class="col-12" style="width: 100%; padding: 0; margin: 0;"></div>
    <div class="row w-100" style="width: 100%; padding: 0; margin: 0;">
        <div class="card w-100 border-dark">
            <div style="display: flex; justify-content: space-between; align-items: center;">
            <div>
            <a href="{% url 'accounts:logout' %}?next={% url 'accounts:login' %}?next={% url 'main:profile' %}" class="w-50 pl-3 pb-4 text-white">
            <button type="button" class="btn btn-success" style="width: 200px; border: 5px solid black;">
            ログアウト
            </button>
            </a>
            </div>
            <div id="messages">
              {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            </div>
            <div id="user-test-records"></div>
            {% if join_form %}
            <form id="join-classroom-form" method="post" action="{% url 'main:join_classroom' %}">
                {% csrf_token %}
                {{ join_form.as_p }}
                <button type="submit" style="width: 200px; border: 4px solid black;" class="btn btn-primary">教室に入る</button>
            </form>
            {% endif %}
            {% if request.user.teacher %}
            <div style="font-size: 2em; font-weight: bold;">教室を作る！</div>
            <form class="createClassroomForm" method="post" action="{% url 'main:classroom_create' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in classroom_form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-success" style="width: 200px; border: 4px solid black;">教室を作る</button>
            </form>
            {% endif %}
            {% if request.user.is_superuser %}
            <div id="test-create"></div>
            {% endif %}













        {% if request.user.is_superuser %}
        <div style="font-size: 2em; font-weight: bold;">Create school!</div>
        <form class="createClassroomForm" method="post" action="{% url 'main:school_create' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in school_form %}
            <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {{ field }}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-success" style="width: 200px; border: 4px solid black;">Create school</button>
        </form>
        {% endif %}
        </div>
    </div>
    </div>
</div>
</body>
<script type="module" src="{% static 'my-vite-app/dist/assets/index-Ddk4aAgh.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>