<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        function disableButton() {
            var submitBtn = document.getElementById('submit-btn');
            submitBtn.disabled = true;
            setTimeout(function() {
                submitBtn.disabled = false;
            }, 5000);
        }
    </script>
</head>
<body>
    {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
    {% endif %}
    <div class="container mt-5">
        <h2>先生登録！</h2>
        <h4>学校名と学校パスワードなければ先生アカウントは作れない。</h4>
        <h4>あだ名はスペース書けない。</h4>
        <form method="post" onsubmit="disableButton()">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="school_name">学校名:</label>
                <input type="text" id="school_name" name="school_name" class="form-control">
            </div>
            <div class="form-group">
                <label for="school_password">学校のパスワード:</label>
                <input type="password" id="school_password" name="school_password" class="form-control">
            </div>
            <button type="submit" id="submit-btn" class="btn btn-primary">Register</button>
        </form>
    </div>
</body>
</html>
